// Comment Pin Icon
.commentPin {
  font-size: 2rem;
  transform: rotate(15deg);
}

.pinEditable {
  cursor: pointer;
  &.pinned:hover {
    color: lighten(#003e69, 20%);
  }
  &.unpinned:hover {
    color: darken(#d3d9df, 20%);
  }
}

.pinned {
  color: #003e69;
}

.unpinned {
  color: #d8dbe4;
}

// Comment List Table
.commentTableContainer {
  border: 1px #003e69 solid;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  overflow-y: auto;
  max-height: 20rem;
}

.commentTable td {
  border: 0;
  color: #003e69;
}

.dateTd {
  min-width: 8rem;
}

.pinTd {
  min-width: 2.5rem;
}
