.filterButton {
    font-size: 12px;
    text-align: center;
    margin-right: 20px;
    margin-top: 0;
}
.searchBarContainer {
    width: 75%;
    border: 1px solid lightgrey;
    border-radius: 30px;
    padding: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: rgb(246, 246, 246);
}
.filterText {
    min-width: 40%;
}
.searchFilters {
    border: 1px solid lightgray;
    font-size: 12px;
    display: flex;
    border-radius: 10px;
    margin-left: 5px;
    max-width: 280px;
    align-items: center;
    justify-content: space-between;
    word-wrap: break-word;
    background-color: rgb(221, 221, 221);
}
.removeFilterButton {
    border: 0px;
    background-color: rgb(221, 221, 221);
}
.filterDisplayRow {
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px
}
.filterButtonColumn {
    padding-left: 40px;
}
.selectControl {
    font-size: 16px;
}