.headerBox {
    margin-bottom: 20px;
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
    width: 40%;
    border-radius: 30px;
    border: 1px solid rgb(204, 204, 204);
    background-color: rgb(240, 240, 240);
}
.title, p {
    display:flex;
    align-items: center;
    margin: 0;
}
.hr {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

