@import '../../styles/variables';

.error-panel {
  padding: 2rem 4rem;
  background: #fff;
  border: 1px solid $border-color;
  margin: auto;
  max-width: 50%;
}

.error-panel__title {
  text-align: center;
}
