.ambry-page-loader {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(225, 225, 225, 0.5);

  .ambry-logo {
    width: 25vw;
    animation: flip-vertical-fwd 3s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both,
      fadePulse 1.5s linear infinite both;
  }
}

@keyframes fadePulse {
  0% {
    opacity: 0.65;
  }

  50% {
    opacity: 0.35;
  }

  100% {
    opacity: 0.65;
  }
}

@keyframes flip-vertical-fwd {
  0% {
    transform: translateZ(0) rotateY(0);
  }
  50% {
    transform: translateZ(160px) rotateY(180deg) scale(.85);
  }
  100% {
    transform: translateZ(0) rotateY(0);
  }
}
