@import '../../styles/variables';

.logTableRow {
  border: 1px $blue solid;
  border-bottom:1px silver solid;
  cursor: pointer;

  td {
    border: 0;
    font-size: 1.2rem;
  }
}

.logTableDateCell {
  min-width: 15rem;
}

.logTableSummaryCell {
  display: grid;
  grid-gap: 1px;

  span {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

td.detailRow {
  border-top: 0;
  text-indent: 3rem;

  span, pre {
    background: inherit;
    color: $blue;
  }
}