.search_row_detail {
    max-width: 100%
}

.list_group_item {
    background-color: #F2F5F7;
    margin-bottom: 0px;
}

.noPrimers {
    border: lightgray 1px solid;
    border-radius: 30rem;
    width: 30%;
    display: flex;
    justify-content: center;
    position: relative;
    padding: 10px;
    background-color: #F2F5F7;
    margin-left: 35%;
    margin-bottom: 15px;
}

.validationBadge {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    font-weight: 450;
}

.intBadge {
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 5px;
    font-size: 14px;
    font-weight: 450;
}

.dateBox {
    width: 100%;
    padding-left: 12.5px;
    padding-right: 25px;
}