@import '../../styles/variables';

$sidebarWidth: 16rem;

.layout {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.layout__header {
  padding: .5rem 1rem;
  font: 11px Verdana, Arial, sans-serif;
  color: #2f2f2f;
}

.layout__env {
  padding: .5rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2rem;
  background-color: $red;
  color: $light;
}

.layout__title {
  padding: .66rem 1rem;
  margin: 0;
}

.layout__sidebar {
  width: $sidebarWidth;
  border-top: 1px solid transparent;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.layout__sidebar .navigation {
  flex-grow: 1;
}

.layout__sidebar .footer-separator {
  display: block;
  visibility: hidden;
  height: 0;
}

.layout__body {
  display: flex;
  flex-grow: 1;
}

.layout__content {
  flex-grow: 1;
  border: 1px solid $blue;
  border-right: 0;
  border-bottom: 0;
  padding: 1rem;
  background: $background-color;
  width: calc(100% - #{$sidebarWidth});
}

.layout__footer {
  text-align: center;
  padding: 1rem;
  font-size: .85rem;
}
