@import '../../styles/variables';

.navigation__top {
  padding: .5rem 1rem 1rem;
  text-align: center;
}

.navigation__header {
  padding: .5rem 1rem 1rem;
  margin-bottom: 0;
  text-align: center;
  background-color: #003e69;
  color: white;
}

.navigation__link {
  display: block;
  padding: .5rem 1rem;
  color: $blue;
  font-weight: 600;

  &:hover, &:visited {
    color: $blue;
    text-decoration: none;
  }
}

.navigation__link--active {
  background: $primary;
  color: $light;

  &:hover, &:visited {
    color: #fff;
  }
}

.navigation__link--disabled {
  color: gray;
  cursor: not-allowed;
  &:hover, &:visited {
    color: dimgray;
    text-decoration: none;
  }
}
