@import '../../styles/variables';

.page {
  border: 1px solid $blue;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background: #fff;
  height: 100%;
  position: relative;
}

.page__title {
  line-height: 1;
  margin: 0 0 1rem;
  padding: 0 0 .5rem;
  border-bottom: 1px solid $blue;
  text-align: center;
  background-color: $blue;
  color: white;

  h1 {
    margin-bottom: 0;
  }
}

.page__break {
  line-height: 1;
  margin: 0 0 1rem;
  padding: 0 0 .5rem;
  border-bottom: 2px solid $blue;
  text-align: center;

  h1 {
    margin-bottom: 0;
  }
}

.page__body {
  flex-grow: 1;
}

.page__actions {
  text-align: right;
  padding: 1rem 0 0;
}

.page__spinner {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, .5);
}
