.primerDesign {
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 1%;
    padding-right: 1%;
}
.primerTitle {
    padding-top: 5px;
    justify-content: left;
    text-align: right;
}

.forwardPCR {
    padding-top: 35px;
}

.centerI {
    align-items: center;
}

.resetButton {
    height: 30px;
}

.buttonText {
    margin-bottom: 5px;
}
