.list_group_item {
    background-color: #F2F5F7;
    margin-bottom: 0px;
}
.controlStyle {
    width: 50%;
    float: right;
}
.controlStyle {
    text-align: right;
    margin-top: 5px;
}
.headerButtonStyle {
    padding: 0 1.2rem;
    margin: 0;
    float: right;
}