@import "_variables.scss";

$theme-colors: (
        "primary": $primary,
        "accent": $accent,
        "danger": $danger,
        "light": $light,
        "secondary": #fff,
);

$border-radius: 0;

// Buttons
$btn-border-radius: 40px;
$btn-border-radius-sm: 40px;
$btn-border-radius-lg: 40px;
$btn-padding-x: 1.5rem;
$btn-padding-x-sm: 1rem;
$btn-border-width: 1px;

// Font
$font-family-base: $base-font;
$font-weight-normal: 500;
$h1-font-size: 2rem;
$h2-font-size: 1.75rem;
$h3-font-size: 1.5rem;
$headings-font-family: $title-font;
$headings-font-weight: 200;

// Nav tabs
$nav-tabs-border-color: black;
$nav-tabs-link-active-border-color: $btn-accent-border-color;
$nav-tabs-link-active-color: black;
$nav-tabs-link-hover-border-color: $blue;
$nav-tabs-link-active-bg: $accent;
$nav-tabs-active-link-hover-bg: $accent;
$nav-tabs-border-width: 1px;
$nav-link-padding-x: 2rem;

// Badge
$badge-font-size: 1rem;
$badge-pill-padding-x: 1.3rem;
$badge-font-weight: normal;
$badge-pill-border-radius: 3px;

//tables
$table-accent-bg: #F2F5F7;
$table-hover-bg: $primary;
$table-hover-color: #fff;

@import "~bootstrap/scss/bootstrap";

//Buttons
.btn {
  margin-bottom: .4rem;
}

.btn-accent {
  border-color: $btn-accent-border-color;
}

.btn-secondary, .btn-secondary:hover {
  border-color: #666666;
}

.btn-primary, btn-primary:hover {
  border-color: #003E69;
}

.btn-link {
  border-color: transparent;

  &:hover {
    text-decoration: none;
  }
}

.btn-accent, .btn-secondary {
  color: black;
}

//Tabs
.nav-tabs .nav-link {
  border-color: $blue;
  margin-right: .2rem;
  color: $blue;
  border-radius: .3rem .3rem 0 0;
}

.nav-tabs a.nav-link:hover {
  background-color: $accent;
  color: black;
}

//Modals
.modal-header {
  background-color: $blue;
  color: white;
  .close {
    color: white;
  }
}
