@import "_variables.scss";

.thead-blue th {
  background-color: $blue;
  color: #fff;
  border-left: 2px solid #fff;
  &:first-child {
    border-left: 0;
    border-top-left-radius: 7px;
  }
  &:last-child {
    border-top-right-radius: 7px;
  }
}

tr.muted td {
  opacity: 0.5;
}

.table__actions,
.table td.table__actions {
  text-align: right;
  padding-bottom: .25rem; // Reduce the bottom padding to account for the additional button margin
  .btn {
    margin-bottom: .5rem;
  }
}
