.lr {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-end;
}

.lr__left {
  flex: 1 1 0.1rem;
  text-align: left;
}

.lr__right {
  flex: 0 0 auto; // attempts to keep everything in one line
  text-align: right;
}

.text-underline {
  text-decoration: underline;
}
