$primary: #00aee7;
$accent: #ffd571;
$danger: #880015;
$light: #f8f9fa;
$blue: #003e69;
$red: #dc3545;
$btn-accent-border-color: #a87401;
$border-color: #dee2e6;
$background-color: #edf2f6;
$body-color: #043f67;
$base-font: "Whitney SSm A", sans-serif;
$base-font-weight: 500;
$title-font: "Sentinel SSm A", sans-serif;
