@import "~noty/src/noty";
@import "~noty/src/themes/relax";
@import "bootstrap";
@import "utilities";
@import "ambry-fonts";
@import "table";

html, body, #root {
  height: 100%;
  padding: 0;
  margin: 0;
}

.react-bootstrap-table-pagination-list-hidden {
    display: none;
}
